mixin videoBlock(video = {})
    .videoBlock
        video.videoBlock__thumbnail(src=`/${video.videoFile}`, controls=true)
        a(href=routes.videoDetail(video.id))
            h4.videoBlock__title=video.title
        if video.views === 1
            h6.video.views 1 View
        else
            h6.video.views #{video.views} Views